apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: gczf
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: gczf
    app.kubernetes.io/part-of: byoc-app-ngkw
  name: gczf
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: gczf
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: gczf
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-rzez-tenant/byoc-app-ngkw/gczf@sha256:644baf609b86df25faea45e9eb766c6f5f2229c5deeb365afb2d4bdda6c99967
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
